* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    color: white;
}

.is-scrolling {
    background-color: #313131;
}

.nav-container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.title-container {
    max-width: 1600px;
    padding-left: 128px;
    padding-right: 128px;
    margin: 0 auto;
    width: 100%;
}

h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
}

span {
    font-weight: 600;
    color: red;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    padding-left: 16px;
    color: white;
}

.nav-link:hover {
    color: red;
}

section.banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/code-bg.jpg");
    background-position: top-right;
    background-size: cover;
    z-index: 0;
}

section2.banner {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/aboutmebg.jpg");
    background-position: top-right;
    background-size: cover;
    z-index: 0;
}

p {
    padding-top: 1rem;
    font-size: 20px;
}

.banner h1 {
    font-size: 72px;
    color: white;
}

.banner span {
    color: red;
    font-weight: 700;
}

.banner h3 {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 400;
    color: white;
}

.button {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.services-container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.services {
    background-color: #eee;
}

.services h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 36px;
    color: #313131;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.img {
    width: 100%;
    display: block;
    height: 128px;
    object-fit: cover;
}

.img-box {
    display: block;
    width: 100%;
    border-bottom: 5px solid red;
}

.content {
    padding: 16px;
}

.service {
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.projects h2{
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-size: 36px;
    color: #313131;
}

.projects {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #eee;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-bottom: 32px;
}

.project {
    border-radius: 16px;
    background-size: cover;
    overflow: hidden;
}

.project:nth-child(1) {
    background-image: url("images/ubereats.png");
}

.project:nth-child(2) {
    background-image: url("images/ups.png");
}

.project:nth-child(3) {
    background-image: url("images/creepy1.png");
}

.project:nth-child(4) {
    background-image: url("images/weatherapp.png");
}

.project:nth-child(5) {
    background-image: url("images/noteapp.png");
}

.project:nth-child(6) {
    background-image: url("images/convert.png");
}

.projects-content {
    color: white;
    padding: 16px;
    background-color: rgba(64, 39, 68, 0.8);
    opacity: 0;
}

.projects h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

.projects p {
    font-size: 18px;
    margin-bottom: 16px;
}

.projects-content:hover {
    opacity: 1;
    transition: 0.4s;
}

.center {
    text-align: center;
}

.contact {
    background-color: #313131;
}

.contact-container {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
    text-align: center;
}

.contact-container h2, h3 {
    color: white;
}

.form {
    max-width: 680px;
    display: block;
    margin: 0 auto;
}

.form-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 16px;

}

.form-area {
    grid-column: 1/ -1;
}

.form-el, .form-area {
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: block;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    font-size: 20px;
}

.right-align {
    text-align: right;
}

.footer {
    text-align: center;
    padding-top: 20px;
}

.icons {
    color: white;
    font-size: 25px;
    padding-top: 1rem;
}

@media (max-width: 414px) {
    html,body{

        overflow-x: hidden;
        
        }

    .banner h1, h2 {
        font-size: 30px;
        /* margin-left: -64px; */
        text-align: center;
    }

    .banner h3 {
        font-size: 25px;
        /* margin-left: -64px; */
        text-align: center;
    }

    section.banner {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/code-bg.jpg) no-repeat center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height:100%;
        }

        nav {
            display: none;
        }

       
        .title-container {
            padding: 0;
            text-align: center;
        }

        .projects-grid {
            grid-template-columns: repeat(2, 2fr);
        }

        .right-align {
            text-align: left;
        }

}

@media (max-width: 280px) {
    
    .contact {
        text-align: center;
    }

}
